<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>
          <a class="github-button" href="https://github.com/wpCloud/wp-stateless" data-size="large"
             data-icon="octicon-star" data-show-count="true" aria-label="Star wp-stateless/wp-stateless on GitHub"
             ga-on="click"
             ga-hit-type="social"
             ga-social-network="GitHub"
             ga-social-action="star">Star</a>
        </p>
        <p><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <a href="https://udx.io">UDX</a></p>
        <p><a href="{{ site.wp_link }}">Plugin on <i class="fab fa-wordpress"></i></a></p>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</footer>

<script async src="https://buttons.github.io/buttons.js"></script>