<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>
          <a class="github-button" href="https://github.com/wpCloud/wp-stateless" data-size="large"
             data-icon="octicon-star" data-show-count="true" aria-label="Star wp-stateless/wp-stateless on GitHub"
             ga-on="click"
             ga-hit-type="social"
             ga-social-network="GitHub"
             ga-social-action="star">Star</a>
        </p>
        <p><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <a href="https://udx.io">UDX</a></p>
        <p><a href="{{ site.wp_link }}">Plugin on <i class="fab fa-wordpress"></i></a></p>
      </div>
      <div class="col-6">
        <!--[if lte IE 8]>
        <script charset=“utf-8” type=“text/javascript” src=“//js.hsforms.net/forms/v2-legacy.js”></script>
        <![endif]-->
        <script charset=“utf-8" type=“text/javascript” src=“//js.hsforms.net/forms/v2.js”></script>
        <script>
          hbspt.forms.create({
            portalId: '3453418',
            formId: '5983755b-8a87-41cf-8695-57f410c83568'
          });
        </script>
      </div>
    </div>
  </div>
</footer>

<script async src="https://buttons.github.io/buttons.js"></script>