<aside class="sidebar col-3">

  <div class="logo-box">
    <img src="{{ page.image }}" alt="{{ page.title }}"/>
  </div>

  {% for doc in site.data.docs %}
  <h2>{{ doc[0] }}</h2>

  <ul>
    {% for item in doc[1] %}
    <li>
      {% if item.url %}
        {% assign link = item %}
      {% else %}
        {% for doc in site.pages %}
          {% if doc.path == item %}
            {% assign link = doc %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if page.url == link.url %}
        {% assign classes = "active" %}
      {% else %}
        {% assign classes = "" %}
      {% endif %}

      <a class="{{classes}}" href="{{ link.url }}">{{ link.sidebar_title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

  <div class="product-data">
    <a href="{{ page.repo_url }}" class="get-repo-button">Go to <span>{{ page.module }}</span> repository</a>
  </div>

</aside>